.App {
  text-align: left;
  font-family: 'Quicksand', sans-serif;
  margin: 2em 2em;
}

.Title {
  font-size: 4.5em;
  font-weight: bold;
}

.Instructions {
  font-size: 1.2em;
  text-align: center;
}

.Search{
  text-align: center;
}

.Column{
  
}
